extends ./layout/index

block main
    main.container.mt-5    
        div.row
            div.col-lg-5
                img(src=`/assets/img/destinos_${result.imagen}_ln.jpg`, alt="", class='img-fluid')
            div.col-lg-7
                h1.text-center.text-uppercase #{result.titulo}
                p #{result.descripcion}
                div.d-flex.justify-content-center.align-items-center
                    div.p-1.mb-2
                        img(style='width: 25px; heigth: 25px')(src="/assets/svg/icon_calendar.svg", alt="calendar") 
                        small  Ida: #{result.fecha_ida} -  Vuelta: #{result.fecha_vuelta} 
                    div.p-1.mb-2
                        img(style='width: 25px; heigth: 25px')(src="/assets/svg/icon_user.svg", alt="calendar") 
                        small #{result.disponibles} Disponibles      
                    div.p-1.mb-2
                        img(style='width: 25px; heigth: 25px')(src="/assets/svg/icon_money.svg", alt="calendar") 
                        small $ #{result.precio} ARS
                    
                a(href=`/viajes`, class="btn btn-success btn-block w-100 mt-3") Volver a Viajes
        div.col.py-5
            img(src="/assets/img/pre_viaje.jpg", alt="banner previaje", class="img-fluid")